<h3>UNDO usage history from DBA_Hist_UndoStat</h3>

<% update_area=:show_undo_history_detail_area %>
<%= my_ajax_form_tag url_for(:controller=>:storage, :action=>:list_undo_history, :update_area=>update_area) do %>
    <%= include_start_end_timepicker %>
    <div class="float_left">
        RAC-Instance
        <%= text_field_tag(:instance, session[:instance], :size=>3, :title => "RAC-Instance") %>
    </div>

    <div class="float_left" >
        <%= submit_tag("Details der System-Statistics anzeigen", :title => "Details anzeigen", :name=>"full") %>
    </div>
<% end %>

<div id="<%= update_area %>" style="clear: both; width:100%;">
</div>

