<div class="page_caption">UNDO usage history from DBA_Hist_UndoStat</div>

<% update_area = get_unique_area_id %>
<%= my_ajax_form_tag url_for(:controller=>:storage, :action=>:list_undo_history, :update_area=>update_area) do %>
    <%= include_start_end_timepicker %>
    <div class="float_left">
        RAC-Instance
        <%= text_field_tag(:instance, read_from_client_info_store(:instance), :size=>3, :title => "RAC-Instance") %>
    </div>

    <div class="float_left" >
        <%= submit_tag('Show undo usage', :title => 'Show undo usage for given time period') %>
    </div>
<% end %>

<div id="<%= update_area %>" style="clear: both; width:100%;">
</div>

