<div class="page_caption"><%= t(:storage_tablespace_usage_header_caption, :default=>'Storage-objects for database')%>  <%= get_current_database[:sid] %> <%= localeDateTime(Time.now, :minutes) %></div>

<%
def total_data_style(rec)
  "font-weight:bold;" if rec.contents == "TOTAL"
end

column_options =
[
  {:caption=>"Typ",         :data=>proc{|rec| rec.contents},                    :title=>"Typ der Allokation",   :data_style=>proc{|rec| total_data_style(rec)} },
  {:caption=>"MB Total",    :data=>proc{|rec| formattedNumber(rec.mbtotal)},    :title=>"Größe gesamt in MB",        :align=>:right,   :data_style=>proc{|rec| total_data_style(rec)} },
  {:caption=>"MB Used",     :data=>proc{|rec| formattedNumber(rec.mbused)},     :title=>"Genutzter Platz in MB",    :align=>:right,   :data_style=>proc{|rec| total_data_style(rec)} },
  {:caption=>"MB Free",     :data=>proc{|rec| formattedNumber(rec.mbfree)},     :title=>"Freier Platz in MB",       :align=>:right,   :data_style=>proc{|rec| total_data_style(rec)} },
  {:caption=>"% used",      :data=>proc{|rec| formattedNumber(rec.mbused.to_f/rec.mbtotal*100,1)},  :title=>"Prozentuale Auslastung",                   :align=>:right,   :data_style=>proc{|rec| total_data_style(rec)} },
]

%>

<%= gen_slickgrid(@totals, column_options, {:caption=>"Summen total", :width=>:auto}) %>

<%
column_options =
[
  {:caption=>"Segment-Type",   :data=>proc{|rec| rec.segment_type},                   :title=>"Segment-Type der Summe"},
  {:caption=>"MBytes",       :data=>proc{|rec| formattedNumber(rec.mbytes)},          :title=>"Größe des Segment-Type (Belegter Platz Netto) in MB",        :align=>:right},
]

%>

<%= gen_slickgrid(@segments, column_options, {:caption => "Summen Netto in TS nach Segment-Typen", :width=>:auto}) %>

<%
column_options =
[
  {:caption=>"Tablespace",          :data=>proc{|rec| rec.tablespace_name},             :title=>"Name des Tablespace"},
  {:caption=>"Contents",            :data=>proc{|rec| rec.contents},                    :title=>"Typ/Inhalt des Tablespace"},
  {:caption=>"Blocksize",           :data=>proc{|rec| formattedNumber(rec.blocksize)},  :title=>"Blocksize in Byte des Tablespaces",        :align=>:right},
  {:caption=>"MB Total",            :data=>proc{|rec| formattedNumber(rec.mbtotal)},    :title=>"Größe des Tablespace gesamt in MB",        :align=>:right},
  {:caption=>"MB Used",             :data=>proc{|rec| formattedNumber(rec.mbused)},     :title=>"Genutzter Platz des Tablespaces in MB",    :align=>:right},
  {:caption=>"MB Free",             :data=>proc{|rec| formattedNumber(rec.mbfree)},     :title=>"Freier Platz des Tablespaces in MB",       :align=>:right},
  {:caption=>"% used",              :data=>proc{|rec| formattedNumber(rec.pctused,1)},  :title=>"Prozentuale Auslastung",                   :align=>:right},
  {:caption=>"Allocation Type",     :data=>proc{|rec| rec.allocation_type}},
  {:caption=>"Segment Space Mgmt.", :data=>proc{|rec| rec.segment_space_management}},
  {:caption=>"Auto ext.",           :data=>proc{|rec| rec.autoextensible},              :title=>"Auto-Extensible ?"},
]

%>

<%= gen_slickgrid(@tablespaces, column_options, {:caption => "Tablespace-Nutzung", :width=>:auto}) %>

<% if @fra_usage.length > 0 %>

<%
   column_options =
           [
                   {:caption=>"File type",  :data=>proc{|rec| rec.file_type},                    :title=>'File type within fast recovery area'},
                   {:caption=>"MBytes",     :data=>proc{|rec| fn(rec.percent_space_used*@fra_size_bytes/(1024*1024)/100,2)},     :title=>'Used space in FRA in MB',        :align=>:right},
                   {:caption=>"% used",     :data=>proc{|rec| fn(rec.percent_space_used,2)},     :title=>'Percentage used from total',        :align=>:right},
           ]

%>

<%= gen_slickgrid(@fra_usage, column_options, {:caption=> "Usage of fast recovery area (FRA), total FRA size = #{fn(@fra_size_bytes/(1024*1024*1024),2) } GB", :width=>:auto}) %>

<% end %>

<%
column_options =
[
  {:caption=>"Schema",  :data=>proc{|rec| rec.schema},                  :title=>"Schema / Owner"},
  {:caption=>"Typ",     :data=>proc{|rec| rec.segment_type},            :title=>"Typ der Objekte"},
  {:caption=>"MBytes",  :data=>proc{|rec| formattedNumber(rec.mbytes)}, :title=>"Genutzter Platz in MB",        :align=>:right},
]

%>

<%= gen_slickgrid(@schemas, column_options, {:caption=> "Schema-Nutzung (> 1 MB)", :width=>:auto}) %>
