<h1>Laufzeiten der Customer-Jobs aus ApplExecution</h1>

<div id="whtransferdate_selection" style="float:left; ">
<%= my_ajax_form_tag url_for(:action => "show_applexec_per_whtransferdate") do %>
  <%= collection_select(:whtransferdate, :id, @whtransferdates, :id, :selectlist_entry) %>        
  <select id="applcategory" name="applcategory[id]" title="Application-Kategorie als Filter">
    <option value="0">[Alle Kategorien]</option>
    <%= options_from_collection_for_select(@applcategories, "id", "name") %>
  </select>
  <%= collection_select(:developmentteam, :id, @developmentteams, :id, :name) %>        
  <%= submit_tag("ApplExec's anzeigen", :title => "Ausführungen zum gegebenen LV-Datum") %>
<% end %>
</div>
<div id="applexecutions" style="float:left; width:100%;">
</div>
<div id="applexec_details" style="float:left; width:100%; background-color:#CDB38B;">                
</div>
<div id="applexec_history" style="float:left; width:100%;">
</div>


