<b>Details zu ID_ApplExecution=<%= @legacyapplexecution.id %></b>
<table>
  <tr>
    <td>Status</td><td bgcolor="#EEE5DE"><%= @legacyapplexecution.applexecutionstatusname %>
    <td>CO-Name</td><td bgcolor="#EEE5DE"><%= @legacyapplexecution.applicationconame %>
  </tr>
  <tr>  
    <td>ID_Application</td><td bgcolor="#EEE5DE"><%= @legacyapplexecution.id_application %> </td>
    <td>PLSQL-Name</td><td bgcolor="#EEE5DE"><%= @legacyapplexecution.applicationplsqlpackage %>
  </tr>
</table>
