<% @update_area=get_unique_area_id %>

<div class="page_caption">Audit Trail records from DBA_AUDIT_TRAIL</div>

<%= my_ajax_form_tag url_for(:controller => :dba_schema, :action=>:list_audit_trail, :update_area=>@update_area)  do %>
  <%= include_start_end_timepicker %>
    <div class="float_left" title="optional filter for session-ID (AUDSID) (exact match)">
      Session-ID
      <%= text_field_tag(:sessionid, '', :size=>10) %>
    </div>
    <div class="float_left">
      OS-User
      <%= text_field_tag(:os_user, "", :size=>10, :title=>"Filter for OS-user of client machine (like-comparison and case ignored)") %>
    </div>
    <div class="float_left">
      DB-User
      <%= text_field_tag(:db_user, "", :size=>10, :title=>"Filter for database username used for db-connection (like-comparison and case ignored)") %>
    </div>
    <div class="float_left">
      Machine
      <%= text_field_tag(:machine, "", :size=>10, :title=>"Filter for name of client machine (like-comparison and case ignored)") %>
    </div>
    <div class="float_left">
      Object
      <%= text_field_tag(:object_name, "", :size=>10, :title=>"Filter for name of database object (like-comparison and case ignored)") %>
    </div>
    <div class="float_left">
      Action
      <%= text_field_tag(:action_name, "", :size=>10, :title=>"Filter for name of recorded action (like-comparison and case ignored)") %>
    </div>
    <div class="float_left" title="Group result by time cycle (none for not grouping)">     <!-- special IE-Hack because of bug http://bugs.jqueryui.com/ticket/8798  -->
      Grouping
          <select name="grouping">
            <option selected value='none'>[none]</option>
            <option value='MI'>Minute</option>
            <option value='HH24'>Hour</option>
            <option value='DD'>Day</option>
          </select>
    </div>
    <div class="float_left" title="Count for top x hits to show as columns (only relevant if 'Grouping' is not 'none')">
      Top x for group
      <%= text_field_tag(:top_x, "5", :size=>5) %>
    </div>
    <div class="float_left">
    <%= submit_tag("Show audit trail", :title => "Show audit trail records\n\nUse grouping by time unit if you expect large amount of audit records!") %>
  </div>
<% end %>
<div id="<%= @update_area %>" style="clear: both; width:100%; ">
  <%
    column_options =
        [
            {:caption=> 'User',             :data=>proc{|rec| rec.user_name},       :title=> "User name if by user auditing.\nANY CLIENT if access by a proxy on behalf of a client is being audited.\nNULL for system-wide auditing"},
            {:caption=> 'Proxy',            :data=>proc{|rec| rec.proxy_name},      :title=> "The name of the proxy user which is performing an operation for the client.\nNULL if the client is performing the operation directly."},
            {:caption=> 'Audit-Option',     :data=>proc{|rec| rec.audit_option},    :title=> "Name of the system auditing option"},
            {:caption=> 'Success',          :data=>proc{|rec| rec.success},         :title=> "Mode for WHENEVER SUCCESSFUL system auditing"},
            {:caption=> 'Failure',          :data=>proc{|rec| rec.failure},         :title=> "Mode for WHENEVER NOT SUCCESSFUL system auditing"},
        ]
  %>

  <%=
    gen_slickgrid(@audits, column_options, {
        :caption    => 'Active auditing rules',
        :max_height => 450,
        :width      => :auto
    })
  %>
</div>

