<h2><%= t :env_current_database, :default=>"current database" %></h2>

<%= "TNS=#{get_current_database[:tns]}, Host=#{get_current_database[:host]}, Port=#{get_current_database[:port]}, #{get_current_database[:sid_usage]}=#{get_current_database[:sid]}" %>
<br/><br/>

<%  @banners.each do |b| %>
  <%= (b.banner+"<br>").html_safe %>
<% end %>
<br/>
Platform: <%= @platform_name%>
<br/><br/>


<% column_options =
  [
    {:caption=>"Instance",      :data=>proc{|rec| "#{rec.instance_number}#{" (*)" if rec.instance_connected && @instance_data.length >1}" },       :title=>"Instance number, (*) for connecting instance"},
    {:caption=>"Name",          :data=>proc{|rec| rec.instance_name },                  :title=>"Instance name"},
    {:caption=>"Hostname",      :data=>proc{|rec| rec.host_name },                      :title=>"Last startup time of instance"},
    {:caption=>"Startup",       :data=>proc{|rec| localeDateTime(rec.startup_time) },   :title=>"Startup der DB", :data_title=>proc{|rec| "%t, open mode = #{rec.open_mode}"}},
    {:caption=>"Archiver",      :data=>proc{|rec| rec.archiver },                       :title=>"Archiver mode of instance"},
    {:caption=>"Character-Set", :data=>proc{|rec| rec.nls_characterset },               :title=>"Character set of database", :data_title=>proc{|rec| "%t: NChar_Character_Set=#{rec.nls_nchar_characterset}"}},
    {:caption=>"Instance-Role", :data=>proc{|rec| rec["instance_role"] },                  :title=>"Instance role for data guard"},
    {:caption=>"CPU-Count",     :data=>proc{|rec| rec.cpu_count },                      :title=>"Number of CPUs counted for instance"},
    {:caption=>"Protection mode", :data=>proc{|rec| rec.protection_mode },              :title=>"Protection mode currently in effect for the database.\nLook at DB-parameter \"log_archive_dest_n\" to recognize what sync-mode is used for standby configuration (SYNC or NOSYNC, AFFIRM or NOAFFIRM).",  :data_title=>proc{|rec| "%t\nProtection level = #{rec.protection_level}"}},
    {:caption=>"Switchover status", :data=>proc{|rec| rec.switchover_status },          :title=>"Indicates whether switchover is allowed:\nNOT ALLOWED - Either this is a standby database and the primary database has not been switched first or this is a primary database and there are no standby databases."},
    {:caption=>"DG broker",     :data=>proc{|rec| rec.dataguard_broker },               :title=>"Indicates whether the Data Guard configuration is being managed by the broker (ENABLED) or not (DISABLED)"},
    {:caption=>"Force logging", :data=>proc{|rec| rec.force_logging },                  :title=>"Indicates whether the database is under force logging mode (YES) or not (NO)"},
    {:caption=>"AWR interval",  :data=>proc{|rec| rec.snap_interval_minutes },          :title=>'Interval in minutes for AWR-snapshots', :align=>:right},
    {:caption=>"AWR retention", :data=>proc{|rec| rec.snap_retention_days },            :title=>'Retention in days for AWR-snapshots', :align=>:right},
  ]

%>
<%= gen_slickgrid(@instance_data, column_options, {
    :caption => "Instance data", :width => :auto
})
%>

<% if @dbids.count > 1 %>
    <h2>Data for multiple database IDs is recorded in AWR history</h2>
    <%=  my_ajax_form_tag url_for(:controller  => :env,
                                  :action      => :set_dbid,
                                  :update_area => :dbid_response_area
                          ) do %>
        <select name="dbid">
          <% @dbids.each do |d| %>
              <%=  "<option value='#{d.dbid}' #{"selected='selected'" if d.dbid==get_dbid}>DBID=#{d.dbid}, DB-name=#{d.db_name} from #{localeDateTime(d.min_ts)} until #{localeDateTime(d.max_ts)} with #{d.instances} instance#{'s' if d.instances > 1}, snap-interval=#{d.snap_interval_minutes} minutes, retention=#{d.snap_retention_days} days </option>".html_safe %>
          <% end %>
        </select>
        <%= submit_tag("Select this DBID for statistics", :title => "Choose this selected DBID for statistic selections in AWR-history") %>
    <% end %>
    <div id="dbid_response_area"></div>
<% end %>

<% if @dictionary_access_problem %>
    <h2><%= "Dictionary Access-Problem"   %></h2>
    <div style='color:red;'><br/>
      <%= @dictionary_access_msg.html_safe %>
    </div>
<% end %>

<h2><%= t :env_licensing_header, :default=>"Licensing" %></h2>
<%= render :partial => 'licensing' %>

<% unless @control_management_pack_access.nil? %>
    <br>
    <div style="color:red;">
      <%="Oracle Diagnostics Pack #{ @control_management_pack_access['DIAGNOSTIC'] ?  t(:env_set_database_mgmt_msg_true, :default=>'is for this database marked as licensed and will be used by Panorama') :  t(:env_set_database_mgmt_msg_false, :default=>'is for this database marked as not licensed')}." %>
      <br/>
      <%="Oracle Tuning Pack #{ @control_management_pack_access['TUNING'] ?  t(:env_set_database_mgmt_msg_true, :default=>'is for this database marked as licensed and will be used by Panorama') :  t(:env_set_database_mgmt_msg_false, :default=>'is for this database marked as not licensed')}." %>
      </div>
    <%= "Init-Parameter 'control_management_pack_access' = '#{@control_management_pack_access}'." %>
<% end %>


<h2><%= t :env_handling_hints, :default=>"Handling hints" %></h2>

<h3><%= t :generally, :default=>"Generally" %></h3>
<ul>
  <li><%= t :env_handling_hint_generally_1, :default=>"Context-info ist provided system-wide by mouse-over hints" %></li>
  <li><%= t :env_handling_hint_generally_2, :default=>"Details for shown values are often available by clicking on hyperlinks" %></li>
  <li><%= t :env_handling_hint_generally_3, :default=>"Details are shown inline in table cells or continued at bottom of current page" %></li>
</ul>

<h3><%= t :tables, :default=>"Tables" %></h3>
<ul>
  <li><%= t :env_handling_hint_1, :default=>"Sort table content by clicking column-header" %></li>
  <li><%= t :env_handling_hint_2, :default=>"Sort by multiple columns may be done by subsequent sorting of single columns" %></li>
  <li><%= t :env_handling_hint_3, :default=>"Search filter, optional diagram view and export to Excel are available via context menu (right mouse button)" %></li>
</ul>


