<div class="page_caption" style="margin-bottom: 5px;"><%= t(:dba_waits_system_events_caption, :default=>'Evaluation of current system events from V$System_Event') %></div>
<% @update_area = get_unique_area_id %>

<%= my_ajax_form_tag url_for(:controller=>:dba_waits, :action=>:show_system_events, :update_area=>@update_area) do %>
  <%= t(:dba_waits_system_events_sample_length_caption, :default=>'Sample length (sec)') %>
  <%= text_field_tag("sample_length", "1", :maxlength=>10, :size => 5, :title=>t(:dba_waits_system_events_sample_length_hint, :default=>'Duration of sample snapshot in seconds')) %>
  Filter
  <%= text_field_tag("filter", "", :maxlength=>100, :size => 20, :title=>t(:dba_waits_system_events_filter_hint, :default=>'Filter on event name as wildcard')) %>
  <%= t(:dba_waits_system_events_suppress_idle_waits_caption, :default=>'Suppress idle waits') %>
  <%= check_box_tag(:suppress_idle_waits, 1, true, :title=>t(:dba_waits_system_events_suppress_idle_waits_hint, :default=>'Suppress events of wait class Idle')) %>
  <%= submit_tag(t(:dba_waits_system_events_submit_caption, :default=>'Show events'), :title =>t(:dba_waits_system_events_submit_hint, :default=>'Show system events')) %>
<% end %>

<div id="<%= @update_area %>" >
</div>



