<div class="page_caption">DB-Cache-Nutzung historisch</div>

<%= my_ajax_form_tag url_for(:controller=>:addition, :action=>:list_db_cache_historic, :update_area=>:list_db_cache_historic_area) do %>
  <div class="float_left">
    Anzahl Treffer
    <%= text_field_tag(:maxResultCount, "100", :size=>5, :title => "Einschränkung der Treffermenge nach Top-Nutzung") %>
  </div>
  <%= include_start_end_timepicker %>
  <div class="float_left" title="<%= t(:instance_optional_filter_hint, :default=>'Filter on specific RAC instance (optional)') %>">
    Instance
    <%= text_field_tag(:instance, read_from_client_info_store(:instance), :size=>1) %>
  </div>
  <div class="float_left">
    Partitions
    <%= check_box_tag(:show_partitions, 1, false, :title=>"Partitionsdetails anzeigen") %>
  </div>
  <div class="float_left">
    <%= submit_tag("Anzeigen", :title => "Anlistung der Cache-Nutzung") %>
  </div>
<% end %>
<div id="list_db_cache_historic_area" style="float:left; width:100%;">
</div>


