<% @update_area = get_unique_area_id %>

<div class="page_caption">Session-Statistics <%= t(:from, :default=>'from')%> DBA_Hist_Active_Sess_History <%= t(:and, :default=>'and')%> gv$Active_Session_History</div>

<%= my_ajax_form_tag url_for(:controller=>:active_session_history, :action=>:list_session_statistic_historic, :update_area=>@update_area) do %>

  <%= include_start_end_timepicker %>

  <div class="float_left" title="<%= t(:active_session_history_show_session_statistics_historic_idle_hint, :default=>'Should idle-waits (e.g. PX Deq Credit: send blkd) be considered?')%>">
    Idle-Waits
    <%= check_box_tag(:idle_waits, 1, false) %>
  </div>

  <div class="float_left" title="Filter on RAC-Instance (optional)">
    Instance
    <%= text_field_tag(:instance, "", :size=>1) %>
  </div>

  <div class="float_left" title="<%= t(:grouping_hint, :default=>'Group listing by attribute') %>">
    <%= t(:grouping, :default=>'Grouping')%>
      <select name="groupby">
        <% session_statistics_key_rules.keys.sort.each do |key| %>
            value = session_statistics_key_rules[key]
          <%=  "<option value='#{key}' #{"selected='selected'" if key=="Event"}>#{key}</option>".html_safe %>
        <% end %>
      </select>
  </div>

  <div class="float_left" title="optional additional Filter on username, session-ID, module, action, DB-object, program or machine (like-comparison and case ignored)">
    Filter
    <%= text_field_tag(:filter, "", :size=>20) %>
  </div>

  <div class="float_left">
    <%= submit_tag( t(:active_session_history_show_session_statistics_historic_submit_caption, :default=>'Show waits'), :title => t(:active_session_history_show_session_statistics_historic_submit_hint, :default=>'Show condensed session-waits')) %>
  </div>
<% end %>
<div id="<%= @update_area %>" style="clear: both; width:100%; ">
</div>
