<% @update_area = get_unique_area_id %>

<div class="page_caption">Historic TEMP usage <%= t(:from, :default=>'from')%> DBA_Hist_Active_Sess_History <%= t(:and, :default=>'and')%> gv$Active_Session_History (Show TEMP-usage by active sessions only)</div>

<%= my_ajax_form_tag url_for(:controller=>:active_session_history, :action=>:first_list_temp_usage_historic, :update_area=>@update_area) do %>

    <%= include_start_end_timepicker %>

    <div class="float_left" title="Filter on RAC-Instance (optional)">
      Instance
      <%= text_field_tag(:instance, "", :size=>1) %>
    </div>

    <div class="float_left" title="Number of seconds for fuzzy determination of max. values per session and timestamp.
    Maximum values per session plus/minus x seconds are considered to bypass the inaccuracy due to resource claiming by inactive sessions
    (that are not recorded by active session history).

    Reduce value to reduce runtime of selection (therefore default is 0).
    Enlarge value to enlarge accuracy in also considering sessions that are inactive at sample time (until values are not growing no more).
    Common values are 20 .. 80 seconds.">
      Fuzzy seconds
      <%= text_field_tag(:fuzzy_seconds, '0', :size=>3, :style=>'text-align: right') %>
    </div>


    <div class="float_left" title="<%= t(:grouping_hint, :default=>'Group listing by attribute') %>">
      <%= t(:grouping, :default=>'Grouping')%>
      <select name="time_groupby">
        <% temp_historic_grouping_options.each do |key, value| %>
            <%=  "<option value='#{key}' #{"selected='selected'" if key==:hour}>#{key}</option>".html_safe %>
        <% end %>
      </select>
    </div>


    <div class="float_left">
      <%= submit_tag('Show', :title => 'Show historic TEMP usage') %>
    </div>
<% end %>
<div id="<%= @update_area %>" style="clear: both; width:100%; ">
</div>

