<% @update_area = get_unique_area_id %>

<div class="page_caption">DB-Cache-Nutzung</div>

<%= my_ajax_form_tag url_for(:controller=>:dba_sga, :action=>:list_db_cache_content, :update_area=>@update_area) do %>
  <div class="float_left">
    Instance
    <%= text_field_tag(:instance, read_from_client_info_store(:instance).nil? ? 1 : read_from_client_info_store(:instance), :size=>1, :title=>"ID der betrachteten RAC-Instanz") %>
  </div>
  <div class="float_left">
    Part.
    <%= check_box_tag(:show_partitions, 1, false, :title=>"Partitionsdetails anzeigen") %>
  </div>
  <div class="float_left">
  <%= submit_tag("Cache-Inhalt anzeigen", :title => "Anlistung der Daten des DB-Cache") %>
  </div>
<% end %>
<div id="<%= @update_area %>" style="float:left; width:100%; ">

</div>
