<%
@update_area = get_unique_area_id
%>

<%= render :partial=>"list_sql_sga_stat" %>
<%= render :partial=>"dba_sga/list_sql_profiles" %>

<div style="padding: 5px"></div>

<%= render :partial=>"dba_sga/list_sql_detail_execution_plan" %>

<%
   def link_session(instance, sid, serialno)
     my_ajax_link_to("#{sid}/#{serialno}",
       url_for(:controller    => :dba,
               :action        => :show_session_detail,
               :instance      => instance,
               :sid           => sid,
               :serialno      => serialno,
               :update_area   => @update_area
              ),
       :title=> t(:dba_sga_list_sql_detail_sql_id_link_session_hint, :default=>'Show details for session') )
   end
%>

<% if @workareas.length > 0 %>
    <%
    column_options =
    [
      {:caption=>"I",             :data=>proc{|rec| rec.inst_id },                          :title=>t(:dba_sga_list_sql_detail_sql_id_instance_hint, :default=>'RAC instance of work area'),   :align=>"right"},
      {:caption=>"Op.-Type",      :data=>proc{|rec| rec.operation_type },                   :title=>t(:dba_sga_list_sql_detail_sql_id_optype_hint, :default=>'Operation type of work area')},
      {:caption=>"Op.ID",         :data=>proc{|rec| rec.operation_id },                     :title=>t(:dba_sga_list_sql_detail_sql_id_operation_id_hint, :default=>'Operation-ID of work area, reference into execution plan') },
      {:caption=>"Pol.",          :data=>proc{|rec| rec.policy },                           :title=>t(:dba_sga_list_sql_detail_sql_id_policy_hint, :default=>'Sizing policy of work area') },
      {:caption=>"SID",           :data=>proc{|rec| link_session(rec.inst_id, rec.sid, rec.serialno)  },   :title=>t(:dba_sga_list_sql_detail_sql_id_sid_hint, :default=>'SID / serial number of session of work area') },
      {:caption=>"QI",            :data=>proc{|rec| rec.qcinst_id },                        :title=>t(:dba_sga_list_sql_detail_sql_id_qcinstance_hint, :default=>'RAC instance of query coordinator if executed with parallel query') },
      {:caption=>"QSID",          :data=>proc{|rec| link_session(rec.qcinst_id, rec.qcsid, rec.qcserialno)  },   :title=>t(:dba_sga_list_sql_detail_sql_id_qcsid_hint, :default=>'SID /serial number of session of query coordinator if executed with parallel query')},
      {:caption=>"Act. Time",     :data=>proc{|rec| fn(rec.active_time/1000000.0)  },       :title=>"Average time this PGA work area is active in seconds",   :align=>"right"},
      {:caption=>"Work Area Size",:data=>proc{|rec| fn(rec.work_area_size/1048576.0, 3)  }, :title=>"Maximum size of the PGA work area as it is currently used by the operation in MB",   :align=>"right"},
      {:caption=>"Exp. Size",     :data=>proc{|rec| fn(rec.expected_size/1048576.0,3)   },  :title=>"Expected size of the PGA work area in MB",   :align=>"right"},
      {:caption=>"Actual Size",   :data=>proc{|rec| fn(rec.actual_mem_used/1048576.0,3)  }, :title=>"Amount of PGA memory currently allocated in MB",   :align=>"right"},
      {:caption=>"Max. Size",     :data=>proc{|rec| fn(rec.max_mem_used/1048576.0,3)  },    :title=>"Maximum memory amount used by this PGA work area in MB",   :align=>"right"},
      {:caption=>"P",             :data=>proc{|rec| fn(rec.number_passes)  },               :title=>"Number of passes corresponding to this PGA work area (0 if running in optimal mode)",   :align=>"right"},
      {:caption=>"Temp",          :data=>proc{|rec| fn(rec.tempseg_size ? rec.tempseg_size/1048576.0 : nil, 3)  },   :title=>"Temporary segment on disk (swapped Temp-Tablespace) in MB",   :align=>"right"},
      {:caption=>"Tablespace",    :data=>proc{|rec| rec.tablespace  },                      :title=>"Used temporary tablespace"},
    ]
    %>
    <%= gen_slickgrid(@workareas, column_options, {:caption => t(:dba_sga_list_sql_detail_sql_id_workarea_caption, :default=>'PGA work areas of sessions active executing this SQL statement'), :max_height => 450, :width=>:auto}) %>
<% end %>

<%
column_options =
[
  {:caption=>"Pos",             :data=>proc{|rec| formattedNumber(rec.position) },      :title=>t(:dba_sga_list_sql_detail_sql_id_position_hint, :default=>'Position of bind variable in statement'), :align=>"right"},
  {:caption=>"Name",            :data=>proc{|rec| rec.name},                            :title=>t(:dba_sga_list_sql_detail_sql_id_name_hint, :default=>'Name of bind variable in statement')},
  {:caption=>"Typ",             :data=>proc{|rec| rec.datatype_string},                 :title=>t(:dba_sga_list_sql_detail_sql_id_datatype_hint, :default=>'Data type of bind variable')},
  {:caption=>"Last captured",   :data=>proc{|rec| localeDateTime(rec.last_captured)},   :title=>t(:dba_sga_list_sql_detail_sql_id_last_capture_hint, :default=>'Timestamp of last capture')},
  {:caption=>"Value",           :data=>proc{|rec| rec.value_string},                    :title=>t(:dba_sga_list_sql_detail_sql_id_value_hint, :default=>'Value of bind variable in string representation')},
  {:caption=>"Char.set",      :data=>proc{|rec| rec.character_set},               :title=>'Character set used for bind'},
  {:caption=>"Precision",     :data=>proc{|rec| fn rec.precision},                :title=>"Precision (for numeric binds)"},
  {:caption=>"Scale",         :data=>proc{|rec| fn rec.scale},                    :title=>"Scale (for numeric binds)"},
  {:caption=>"Max. length",   :data=>proc{|rec| fn rec.max_length},               :title=>"Maximum bind length"},
]
%>
<%= gen_slickgrid(@binds, column_options, {:caption => t(:dba_sga_list_sql_detail_sql_id_bind_caption, :default=>'Bind variables of last execution'), :max_height => 450, :width=>:auto}) %>

<%= render :partial=>"list_sql_sga_stat_footer" %>

<div id="<%= @update_area %>" style="clear: both;">
</div>

