<div>
    <h3 style="float: left"><%= t(:dba_sga_list_sql_sga_stat_caption, :default=>'Statement details of current SGA from') %> <%= @modus %></h3>
    <div style="float:right; padding: 20px;">  <%= defined?(@list_sql_sga_stat_msg) ? @list_sql_sga_stat_msg : ''%></div>
</div>
<div style="clear: both"></div>
<div><%= @sql[:warning_message] %></div>
<%
# Anzeige sowohl des konkreten Wertes als auch je Execution in zwei TD-Abschnitten
def show_both_values(name, param, decimals, title="")
  param = param.to_f   # Sicherstellen Typ
  execs = @sql.executions.to_i==0 ? 1 : @sql.executions.to_i;
  "<tr>
     <td title='#{title}'>#{name}</td>
     <td align='right' title='#{title}'>#{formattedNumber(param,decimals)}</td>
     <td align='right' title='#{title} #{t(:per_execution, :default=>'per execution')}'>#{formattedNumber( (param/execs),(decimals+2))}</td>
   </tr>".html_safe
end

# Anzeige des konkreten Wertes ohne je Execution in zwei TD-Abschnitten
def show_single_value(name, param, decimals, title="")
  "<tr><td title='#{title}'>#{name}</td>
     <td align='right' title='#{title}'>#{formattedNumber(param,decimals)}</td>
     <td align='center'>-</td>
   </tr>".html_safe
end
%>
<table border="0">
  <tr>
    <td valign="top" class="monospace"><%= convert_word_wrap_comma(@sql_statement) %></td>
    <td valign="top">
       <table border="1" style="font-size:small;">
         <tr><th>Name</th><th>Total</th><th>Per Exec.</th></tr>
         <tr>
           <td>Instance / SQL-ID / Plan-Hash-Value, Child</td>
           <td align="right" title="Instance / SQL_ID / Plan-Hash-Value"><%= "#{@sql.inst_id} / #{@sql.sql_id} / #{@sql.plan_hash_value}" %></td>
 <% if @modus == "GV$SQL" %>
           <td align="center" title="Child-Number / Child-address"><%= "#{@sql.child_number} / #{@sql.child_address}" %></td>
 <% else %>
               <td align="center" title="<%= t(:dba_sga_list_sql_sga_stat_child_count_hint, :default=>'Number of child cursors')%>"><%= @sql.child_count %></td>
 <% end %>
         </tr>
         <tr>
           <td title="<%= t(:dba_sga_list_sql_sga_stat_module_hint, :default=>'Module and action of session that initially parsed this SQL statement') %>">Parsing Module / Parsing Action</td>
           <td>
             <%=
                 @update_area_module = get_unique_area_id
                 my_ajax_link_to(@sql.module,
                  url_for(:action        => :show_application_info,
                           :update_area  => @update_area_module,
                           :org_text     => @sql.module
                         ),
                  :title=>t(:dba_sga_list_sql_sga_stat_module_link_hint, :default=>'Show further details for module name if available'))
             %>
             <div id='<%= @update_area_module %>'></div>
           </td>
           <td align='right' title="Parsing Action">
             <%=
                 @update_area_action = get_unique_area_id
                 my_ajax_link_to(@sql.action,
                  url_for(:action        => :show_application_info,
                           :update_area  => @update_area_action,
                           :org_text     => @sql.action
                         ),
                  :title=>t(:dba_sga_list_sql_sga_stat_action_link_hint, :default=>'Show further details for action name if available'))
             %>
             <div id='<%= @update_area_action %>'></div>
           </td>
         </tr>
         <tr>
           <td title="<%= t(:dba_sga_list_sql_sga_stat_plsql_hint, :default=>'Program name and line number if SQL is executed within PL/SQL') %>"><%= t(:dba_sga_list_sql_sga_stat_plsql_caption, :default=>'PL/SQL program / line') %></td>
           <td title='<%= "Type=#{@sql.program_type}, Last DDL=#{localeDateTime(@sql.program_last_ddl_time)}" %>'><%= @sql.program_name%></td>
           <td align="right"><%= formattedNumber(@sql.program_lineno) %></td>
         </tr>
         <tr>
           <td>Optimizer Env Hash-Value</td>
           <td align="right" title="<%= t(:dba_sga_list_sql_sga_stat_opt_env_hint, :default=>'Hash value over optimizer environment') %>"><%= @sql.optimizer_env_hash_value %></td>
           <td title="<%= t(:dba_sga_list_sql_sga_stat_object_state_hint, :default=>'Object status of SQL') %>"><%= @sql.object_status %></td>
         </tr>
         <tr>
           <td title="Number of executions">Executions</td>
           <td align='right' title="Number of executions"><%= formattedNumber(@sql.executions) %></td>
           <td align='right' title="Parsing Schema-Name"><%= @sql.parsing_schema_name %></td>
         </tr>
         <%= show_both_values("Fetches ", @sql.fetches, 0, "Number of fetches (Avg. #{@sql.rows_processed/@sql.fetches rescue nil} rows per fetch)")%>
         <%= show_both_values("Sorts", @sql.sorts,0, "Number of sort operations") %>
         <%= show_both_values("Rows processed", @sql.rows_processed,0, "Number of rows processed") %>
         <%= show_both_values("Disk reads", @sql.disk_reads,0, "Number of db blocks read from disk") %>
         <tr>
           <td title="Time per db block read from disk / Avg. disk transfer speed in MB/sec. per session (if using PQ)">ms/disk read, transfer speed (MB/sec.)</td>
           <td title="Time per db block read from disk in milliseconds" align="right"><%= formattedNumber((@sql.disk_reads>0 ? @sql.user_io_wait_time_secs*1000.0/@sql.disk_reads : 0),2) %></td>
           <td title="Avg. disk transfer speed in MB/sec. per session (if using PQ)" align="right"><%= formattedNumber((@sql.user_io_wait_time_secs>0 ? @sql.disk_reads * get_db_block_size / (1024*1024) / @sql.user_io_wait_time_secs : 0),2) %></td>
         </tr>
         <%= show_both_values("Buffer gets", @sql.buffer_gets,0, t(:dba_sga_list_sql_sga_stat_buffer_gets_hint, :default=>'Number of DB blocks read total')) %>
         <%= show_both_values("Elapsed Time (sec), incl. parallel Query Slaves", @sql.elapsed_time_secs,2, t(:dba_sga_list_sql_sga_stat_elapsed_hint, :default=>'Total elapsed time in seconds, sum over all PQ-slaves if executed in parallel'))%>
         <%= show_both_values("CPU-Time (sec)", @sql.cpu_time_secs, 2, t(:dba_sga_list_sql_sga_stat_cpu_hint, :default=>'CPU time in seconds, sum over all PQ-slaves if executed in parallel')) %>
         <%= show_both_values("Application Wait Time (sec)", @sql.application_wait_time_secs, 2, "Application wait time total, includes row lock waits") %>
         <%= show_both_values("Concurrency Wait Time (sec)", @sql.concurrency_wait_time_secs, 2, "Concurrency wait time") %>
         <%= show_both_values("Cluster Wait Time (sec)", @sql.cluster_wait_time_secs, 2) %>
         <%= show_both_values("User-IO Wait Time (sec)", @sql.user_io_wait_time_secs, 2) %>
         <%= show_both_values("PL/SQL Exec Time (sec)", @sql.plsql_exec_time_secs, 2, t(:dba_sga_list_sql_sga_stat_plsql_time_hint, :default=>'PL/SQL execution time in seconds, part of CPU-time')) %>
         <% first_load_time_title=t(:dba_sga_list_sql_sga_stat_first_load_hint, :default=>'First occurrence of SQL in SGA') %>
         <tr><td title="<%= first_load_time_title %>">First Load Time</td> <td title="<%= first_load_time_title %>"><%= @sql.first_load_time %></td><td align='center'>-</td></tr>
         <% last_load_time_title=t(:dba_sga_list_sql_sga_stat_last_load_hint, :default=>'Last load time of SQL in SGA, this is start time for cumulative statistics in SGA') %>
         <tr><td title="<%= last_load_time_title %>">Last Load Time</td><td title="<%= last_load_time_title %>"><%= @sql.last_load_time  %></td><td align='center'>-</td></tr>
         <% last_active_time_title=t(:dba_sga_list_sql_sga_stat_last_active_hint, :default=>'End of last execution of SQL') %>
         <tr><td title="<%= last_active_time_title %>">Last Active Time</td><td title="<%= last_active_time_title %>"><%= localeDateTime(@sql.last_active_time) %></td><td align='center'>-</td></tr>
         <%= show_single_value("Hit ratio", @sql.hit_ratio,2, t(:dba_sga_list_sql_sga_stat_hit_ration_hint, :default=>'Ratio cache hits to buffer gets')) %>
         <%= show_single_value("Parse calls", @sql.parse_calls,0) %>
         <%= show_single_value("Loads", @sql.loads,0) %>
       </table>
     </td>
   </tr>
</table>
