<% @update_area = get_unique_area_id %>

<%= render_page_caption(t(:dragnet_show_personal_selection_form_caption, :default=> "Extend dragnet SQLs with your personal selections")) %>

<%= my_ajax_form_tag url_for(:controller=>:dragnet, :action=>:add_personal_selection) do %>
    <%
       template = "
{
  name: \"Select table attributes for one table\",
  desc: \"Select attributes from DBA_Tables for your selected table\",
  sql:  \"SELECT * FROM DBA_Tables WHERE Owner = UPPER(?) AND Table_Name = UPPER(?)\",
  parameter: [
    {
      name:     \"Owner\",
      title:    \"Name of table owner\",
      size:     30,
      default:  \"SYS\"
    },
    {
      name:     \"Table name\",
      title:    \"Name of table\",
      size:     30,
      default:  \"OBJ$\"
    },
  ]
}
    "
    %>

    <div style="margin: 10px;">
      <%= text_area_tag("selection", template, :cols=>120, :rows=>25) %>
      <div style="padding-top: 5px;">
        <%= submit_tag(' Help ', :title => 'Show usage hints for personal selection', :onclick=>"jQuery('#dragnet_show_personal_selection_form_help').show(); return false;") %>
        <%= submit_tag(' Add ', :title => 'Add selection to dragnet SQLs in upper list') %>
      </div>
      <div id="dragnet_show_personal_selection_form_help" style="display: none; ">
        <%= t(:dragnet_show_personal_selection_form_selection_hint, :default=>"<br/>
<h3>Add one selection for personal use (in current browser)</h3>
Fill in your selection in JSON-notation.<br/>
If your SQL uses bind variables ( '?' ) then you describe these binds in 'parameter'-list.<br/>
If you don't use bind variables in your SQL you can skip the whole 'parameter'-list.<br/>
<br/>
Syntax:
<pre>
{
  name: \"Name of selection in list\",
  desc: \"Explanation of selection in right dialog\",
  sql:  \"Your SQL-Statement without trailing ';'. Example: SELECT * FROM DBA_Tables WHERE Owner = ? AND Table_Name = ?\",
  parameter: [
    {
      name:     \"Name of parameter for \\\"owner\\\" in dialog\",
      title:    \"Description of parameter \\\"owner\\\" for mouseover hint\",
      size:     \"Size of input field for parameter \\\"owner\\\" in characters\",
      default:  \"Default value for parameter \\\"owner\\\" in input field\",
    },
    {
      name:     \"Name of parameter for \\\"table_name\\\" in dialog\",
      title:    \"Description of parameter \\\"table_name\\\" for mouseover hint\",
      size:     \"Size of input field for parameter \\\"table_name\\\" in characters\",
      default:  \"Default value for parameter \\\"table_name\\\" in input field\",
    },
  ]
}
</pre>
<br/>

<h3>Add list of selections for personal use (in current browser)</h3>
You can define a list (array) of selections instead of single one.<br/>
Example:<br/>
<pre>
[
  {
   name: \"Name of selection 1\",
   desc: \"Explanation of selection 1 in right dialog\",
   sql:  \"SELECT * FROM ALL_Users\",
  },
  {
   name: \"Name of selection 2\",
   desc: \"Explanation of selection 2 in right dialog\",
   sql:  \"SELECT * FROM ALL_Tables\",
  }
]
</pre>

<h3>Create submenu structure for selections</h3>
You can organize your selections in hierarchical submenu structure using \”entries\”-list.<br>
Example:
<pre>
{
  name:    \"My Submenu\",
  entries: [
             {
               name: \"Name of selection 1\",
               desc: \"Explanation of selection 1 in right dialog\",
               sql:  \"SELECT * FROM ALL_Users\",
             },
             {
               name: \"Name of selection 2\",
               desc: \"Explanation of selection 2 in right dialog\",
               sql:  \"SELECT * FROM ALL_Tables\",
             }
           ]
}
</pre>


<h3>Provide selections by file for all user</h3>
Your personal selections are stored in local file system at Panorama's server machine (location controlled by PANORAMA_VAR_HOME environment variable).<br/>
They are available only for your browser instance (similar to your stored connection info).<br/>
If you want to provide these selections to all users of your Panorama instance, you can store them as JSON-array in a file 'predefined_dragnet_selections.json' stored at PANORAMA_VAR_HOME<br/>
<br/>
Example for predefined_dragnet_selections.json:<br/>
<pre>
[
  {
    name: \"Name of selection in list 1\",
    desc: \"Explanation of selection 1 in right dialog\",
    sql:  \"Your SQL-Statement without trailing ';'. Example: SELECT * FROM DBA_Tables WHERE Owner = ? AND Table_Name = ?\",
    parameter: [
      {
        name:     \"Name of parameter for \\\"owner\\\" in dialog\",
        title:    \"Description of parameter \\\"owner\\\" for mouseover hint\",
        size:     \"Size of input field for parameter \\\"owner\\\" in characters\",
        default:  \"Default value for parameter \\\"owner\\\" in input field\",
      },
      {
        name:     \"Name of parameter for \\\"table_name\\\" in dialog\",
        title:    \"Description of parameter \\\"table_name\\\" for mouseover hint\",
        size:     \"Size of input field for parameter \\\"table_name\\\" in characters\",
        default:  \"Default value for parameter \\\"table_name\\\" in input field\",
      },
    ]
  },
  {
    name: \"Name of selection in list 2\",
    desc: \"Explanation of selection 2 in right dialog\",
    sql:  \"Your SQL-Statement without trailing ';'. Example: SELECT * FROM ALL_Users\",
  }
]
</pre>

").html_safe
        %>
      </div>

    </div>
<% end %>


<div id="<%= @update_area %>" style="clear: both; width:100%; ">
</div>

