<% %>

<%= render_page_caption(
        t(:dragnet_show_selection_header, :default=> "Dragnet investigation for performance bottlenecks and usage of anti-pattern"),
        [
            {
                :name       => :add_personal,
                :caption    => 'Add personal selection',
                :hint       => 'Add your personal SQL statement for extension of dragnet SQLs',
                :icon_class => 'cui-plus',
                :action     => "ajax_html('show_selection_result_area', 'dragnet', 'show_personal_selection_form');"
            }
        ]
    )
%>

<script type="text/javascript">
    function refresh_tree(filter, include_description) {
        $('#dragnet_selection_wrapper')
                .html('')
                .append('<div id="dragnet_selection_tree"></div>');
        $('#dragnet_selection_tree')
            // listen for event
                .on('changed.jstree', function (e, data) {
                    jQuery.ajax({url: 'dragnet/refresh_selected_data?entry_id='+data.selected+'&browser_tab_id='+browser_tab_id});
                })
            // create the instance
                .jstree({
                    'core': {
                        "multiple" : false,
                        'data': {
                            'url': 'dragnet/get_selection_list?&filter='+filter+'&browser_tab_id=<%= @browser_tab_id %>&include_description='+include_description,
                            'data' : function (node) {
                                return { 'id' : node.id };
                            }
                        }
                    }
                });
        $( "#dragnet_selection_height_slider" ).resizable();
        $( "#dragnet_selection_height_slider" ).find(".ui-resizable-e").remove();                    // Entfernen des rechten resizes-Cursors
        $( "#dragnet_selection_height_slider" ).find(".ui-resizable-se").remove();                   // Entfernen des rechten unteren resize-Cursors


    }

    refresh_tree('', null);
</script>

<div style="margin-top: 5px; margin-bottom:5px;">
  <table width="100%">
    <tr>
      <td>
        <div style="padding-bottom:5px;">
          <div style="float:left;"><%= t(:dragnet_show_selection_select_hint, :default=>"Select dragnet-SQL for execution") %></div>
          <form>
            <div style="text-align: right; width: 100%; ">
              <span title="Filter shown SQLs by match in name or description">
                  Filter:
                  <input id="dragnet_filter" type="text" style="">
              </span>
              <span title="Match search string not only in name but also in description text of dragnet-SQL">
                  Include description
                  <%= check_box_tag(:include_description, 1, false) %>
              </span>
              <input type="submit" title="Search for hits in dragnet SQLs" value="Search" onclick="refresh_tree($('#dragnet_filter').val(), $('#include_description').prop('checked')); return false;">
            </div>
            </form>
        </div>
        <div id="dragnet_selection_height_slider" style="height: 300px; margin: 5px;">
          <div id="dragnet_selection_wrapper" style="clear: both;  height: 100%; overflow-y: scroll;  background-color: #ffffff;">
          </div>
        </div>
      </td>


      <td>
        <%= ajax_form(:controller => :dragnet, :action => "exec_dragnet_sql", :update_area=>"show_selection_result_area")  do %>
            <table style="border: 0px; " width="100%">
              <tr><td id="show_selection_header_area"></td></tr>
              <tr><td id="show_selection_hint_area" style="background-color: white;"></td></tr>
              <tr><td><span id="show_selection_param_area"></span>

                <%= hidden_field_tag('dragnet_hidden_entry_id') %>

                <div class="flex-row-container">
                  <div class="flex-row-element_left"><%= submit_tag(t(:dragnet_show_selection_do_sql_caption, :default=>"Do selection"), :disabled=>true, :id=>'dragnet_show_selection_do_selection', :name=>:commit_exec, :title => t(:dragnet_show_selection_do_sql_hint, :default=>"Execute selected report")) %></div>
                  <div class="flex-row-element_left"><%= submit_tag("Show SQL",  :disabled=>true,  :id=>'dragnet_show_selection_show_sql',           :name=>:commit_show, :title => t(:dragnet_show_selection_show_sql_hint, :default=>"show select SQL-statement")) %></div>


                  <div class="flex-row-element_left">
                    <input type="submit" id="dragnet_drop_personal_selection_button" value="Drop personal SQL" style="display: none;"
                           data-confirm="Do you really want to drop this selection"
                           title="<%= t(:dragnet_show_selection_drop_personal_selection_button_hint, :default=>"Drop this personal selection from list") %>"
                           onclick="ajax_html('content_for_layout', 'dragnet', 'drop_personal_selection', {dragnet_hidden_entry_id: jQuery('#dragnet_hidden_entry_id').val() } ); return false;"
                    />
                  </div>
                </div>
              </td></tr>
            </table>
        <% end %>
      </td>
    </tr>
  </table>
</div>




<div id="show_selection_result_area">
</div>
