<% @update_area = get_unique_area_id %>

<%= render_page_caption("Session-Statistics from #{PanoramaConnection.adjust_table_name('DBA_Hist_Active_Sess_History')}: Choose time period to consider!") %>

<%=
    ajax_form(:controller  => :active_session_history,
                             :action      => :list_prepared_active_session_history,
                             :update_area => @update_area,
                             :groupfilter => @groupfilter,
                             :groupby     => @groupby
                            ) do
%>
  <div class="flex-row-container">
    <%= include_start_end_timepicker(id_suffix: :show_prepare_active_session_history) %>

    <div class="flex-row-element">
      <%= submit_tag("Show waits", :title => "Show condensed session waits from Active Session History") %>
    </div>
  </div>
<% end %>
<div id="<%= @update_area %>" style="float:left; width:100%; ">
</div>

