<div id="list_message_detail_inner_area">
<%= render :partial => "list_message_details_inner" %>
</div>

<%= my_ajax_form_tag url_for(:action => "show_msgtype_details_inner",
                             :id_ofmessagetype => @ofmessagetype.id,
                             :update_area => "list_message_detail_inner_area",
                             :instance   => @instance
                            ) do
%>
  <%= include_start_end_timepicker %>
  Anzahl Minuten je Gruppenzeile
  <%= text_field_tag(:timeSlice, @timeSlice, :size=>5) %>
  <%= submit_tag("Refresh Anzeige Details des MessageTypes", :title => "Refresh der Anzeige mit geänderten Werten") %>
<% end %>
  
  <div id="list_message_detail_detail_area" style="float:left; width:100%;">
  </div>



