<% @update_area = get_unique_area_id %>
  <table border="0" width="100%">
    <tr>
      <%= 
        if @blocker_count == 1
          "<td align='center' title='Lt. Aussage sysp.ApplDaemonMonitoring ist der Blocker-Prozess aktiv' style='background-color:lightgreen' >Blocker ist aktiv</td>".html_safe
        else
          "<td align='center' title='Lt. Aussage sysp.ApplDaemonMonitoring ist der Blocker-Prozess zu lange nicht aktiv' style='background-color:coral' >Blocker ist nicht aktiv</td>".html_safe
        end
      %>
      <%= 
        unless @messageCountNOAFB
          "<td align='center' title='Oracle-User besitzt keinen DB-Link zur NOAFB' style='background-color:gray' >Notfall-Queue unbekannt</td>".html_safe
        else
          if @messageCountNOAFB == 0
            "<td align='center' title='journal.OFMessage@NOAFB enthält keine Datensätze' style='background-color:lightgreen' >Notfall-Queue leer</td>".html_safe
          else
            "<td align='center' title='journal.OFMessage@NOAFB enthält genannte Anzahl Datensätze' style='background-color:coral' >Notfall-Queue enthält #{@messageCountNOAFB} Messages</td>".html_safe
          end
        end
      %>
      <%= if @error_count_exceeded.length > 0
            output = "<td style='background-color:coral'>Fehlerlimit überschritten für #{@error_count_exceeded.length}Messagtypen ("
            output << @error_count_exceeded.map(&:id_ofmessagetype).join(",")
            output << ")</td>"
            output.html_safe
          end
      %>
      <%= if @sla_warning_exceeded.length > 0
            output = "<td style='background-color:orange'>Warnlimit für garantierte Verarbeitungszeit wurde in letzter Stunde überschritten für #{@sla_warning_exceeded.length} Messagtypen ("
            output << @sla_warning_exceeded.map(&:id_ofmessagetype).join(",")
            output << ")</td>"
            output.html_safe
          end
      %>
      <%= if @sla_alert_exceeded.length > 0
            output = "<td style='background-color:coral'>Alert-Limit für garantierte Verarbeitungszeit wurde in letzter Stunde überschritten für #{@sla_alert_exceeded.length} Messagtypen ("
            output << @sla_alert_exceeded.map(&:id_ofmessagetype).join(",")
            output << ")</td>"
            output.html_safe
          end
      %>
      <td align="center"><b>Anzeige Queue-Inhalt des Online-Framework:</b></td>
      <td align="center">
        <div class="float_left">
        <%= my_ajax_form_tag url_for(:action=>:list_overview, :update_area=>@update_area) do %>
          <%= check_box_tag(:showApplExec, 1, false, :title=>"Informationen über ApplExecution (Batches) mit anzeigen") %>
          Application-Info
          <%= submit_tag("Queue-Inhalt ausführlich", :title => "Ausführlichen Überblick über Queue des Online-Framework anzeigen") %>
        <% end %>
        </div>
        <div class="float_left">
        <%= my_ajax_submit_tag("Queue-Inhalt schnell ",
                               url_for(:action => :list_quick_overview, :update_area=>@update_area),
                               :title => "Schnellen Überblick über Queue des Online-Framework anzeigen")
        %>
        </div>
      </td>
    </tr>
  </table>

<div id="<%= @update_area %>"></div>

