<%
@update_area = get_unique_area_id
%>

<%= render :partial=>"list_sql_sga_stat" %>
<%= render :partial=>"dba_sga/list_sql_profiles" %>

<div style="padding: 5px"></div>

<%= render :partial=>"dba_sga/list_sql_detail_execution_plan" %>

<%
   def link_session(instance, sid, serialno)
     my_ajax_link_to("#{sid}/#{serialno}",
       url_for(:controller=>"dba",
               :action => "show_session_detail",
               :instance => instance,
               :sid      => sid,
               :serialno => serialno,
               :update_area => @update_area
              ),
       :title=> "Anzeige Details zu Session")
   end
%>

<% if @workareas.length > 0 %>
    <%
    column_options =
    [
      {:caption=>"I",             :data=>proc{|rec| rec.inst_id },                          :title=>"RAC-Instance des Workareas",   :align=>"right"},
      {:caption=>"Op.-Type",      :data=>proc{|rec| rec.operation_type },                   :title=>"Operation-Type des Workareas"},
      {:caption=>"Op.ID",         :data=>proc{|rec| rec.operation_id },                     :title=>"Operation-ID des Workareas zur Referenz in Explain-Plan"},
      {:caption=>"Pol.",          :data=>proc{|rec| rec.policy },                           :title=>"Sizing-Policy des Workareas"},
      {:caption=>"SID",           :data=>proc{|rec| link_session(rec.inst_id, rec.sid, rec.serialno)  },   :title=>"SID der Session des Workareas"},
      {:caption=>"QI",            :data=>proc{|rec| rec.qcinst_id },                        :title=>"RAC-Instance des Query Coordinator bei parallel Query"},
      {:caption=>"QSID",          :data=>proc{|rec| link_session(rec.qcinst_id, rec.qcsid, rec.qcserialno)  },   :title=>"SID der Session des Query-Coordinator bei parallel Query"},
      {:caption=>"Act. Time",     :data=>proc{|rec| fn(rec.active_time/1000000.0)  },       :title=>"Average time this PGA work area is active in seconds",   :align=>"right"},
      {:caption=>"Work Area Size",:data=>proc{|rec| fn(rec.work_area_size/1048576.0, 3)  }, :title=>"Maximum size of the PGA work area as it is currently used by the operation in MB",   :align=>"right"},
      {:caption=>"Exp. Size",     :data=>proc{|rec| fn(rec.expected_size/1048576.0,3)   },  :title=>"Expected size of the PGA work area in MB",   :align=>"right"},
      {:caption=>"Actual Size",   :data=>proc{|rec| fn(rec.actual_mem_used/1048576.0,3)  }, :title=>"Amount of PGA memory currently allocated in MB",   :align=>"right"},
      {:caption=>"Max. Size",     :data=>proc{|rec| fn(rec.max_mem_used/1048576.0,3)  },    :title=>"Maximum memory amount used by this PGA work area in MB",   :align=>"right"},
      {:caption=>"P",             :data=>proc{|rec| fn(rec.number_passes)  },               :title=>"Number of passes corresponding to this PGA work area (0 if running in optimal mode)",   :align=>"right"},
      {:caption=>"Temp",          :data=>proc{|rec| fn(rec.tempseg_size ? rec.tempseg_size/1048576.0 : nil, 3)  },   :title=>"Temporary segment on disk (ausgelagert in Temp-Tablespace) in MB",   :align=>"right"},
      {:caption=>"Tablespace",    :data=>proc{|rec| rec.tablespace  },                      :title=>"Genutzter temporary tablespace"},
    ]
    %>
    <%= gen_slickgrid(@workareas, column_options, {:caption => "PGA-Workarea mit diesem Statement aktiver Session", :max_height => 450, :width=>:auto}) %>
<% end %>

<%
column_options =
[
  {:caption=>"Pos",             :data=>proc{|rec| formattedNumber(rec.position) },      :title=>"Position der Bindevariablen im Statement", :align=>"right"},
  {:caption=>"Name",            :data=>proc{|rec| rec.name},                            :title=>"Name der Vindevariablen im Statement"},
  {:caption=>"Typ",             :data=>proc{|rec| rec.datatype_string},                 :title=>"Datentyp der Bindevariablen"},
  {:caption=>"Last captured",   :data=>proc{|rec| localeDateTime(rec.last_captured)},   :title=>"Zeitpunkt der letzten Aufnahme"},
  {:caption=>"Value",           :data=>proc{|rec| rec.value_string},                    :title=>"Wert der Bindevariablen in String-Repräsentation"},
  {:caption=>"Char.set",      :data=>proc{|rec| rec.character_set},               :title=>'Character set used for bind'},
  {:caption=>"Precision",     :data=>proc{|rec| fn rec.precision},                :title=>"Precision (for numeric binds)"},
  {:caption=>"Scale",         :data=>proc{|rec| fn rec.scale},                    :title=>"Scale (for numeric binds)"},
  {:caption=>"Max. length",   :data=>proc{|rec| fn rec.max_length},               :title=>"Maximum bind length"},
]
%>
<%= gen_slickgrid(@binds, column_options, {:caption => "Bindevariablen der letzten Ausführung", :max_height => 450, :width=>:auto}) %>

<%= render :partial=>"list_sql_sga_stat_footer" %>

<div id="<%= @update_area %>" style="clear: both;">
</div>

