<!-- @update_area muss durch Aufrufer gesetzt sein -->

<div style="clear: both; padding: 5px;"><b><%= t(:dba_sga_list_sql_sga_stat_footer_additional_info, :default=>'Additional information') %></b></div>

<div class="float_left">
  <%= my_ajax_submit_tag(t(:dba_sga_list_sql_sga_stat_footer_complete_timeline_caption, :default=>'Complete time line of SQL'),
   url_for(:update_area => @update_area,
           :action      => :list_sql_history_snapshots,
           :controller  => :dba_history,
           :instance    => @sql.inst_id,
           :sql_id      => @sql.sql_id,
           :groupby     => :day,
           :parsing_schema_name => @sql.parsing_schema_name
          ),
  :title =>t(:dba_sga_list_sql_sga_stat_footer_complete_timeline_hint, :default=>'Show complete time history of SQL from AWR'))
  %>
</div>
<div class="float_left">
      <%=
          my_ajax_submit_tag("Cursor Sharing (#{@sql.child_count} #{t(:versions, :default=>'versions')})",
                             url_for(:update_area => @update_area,
                                     :action      => :list_sql_shared_cursor,
                                     :instance    => @sql.inst_id,
                                     :sql_id      => @sql.sql_id
                             ),
                             :title =>t(:dba_sga_list_sql_sga_stat_footer_cursor_sharing_hint, :default=>'Reasons for not using shared cursors (gv$SQL_Shared_Cursor) if multiple versions of SQL exists in gv$SQL')
          )
      %>
</div>
<div class="float_left">
        <%= my_ajax_submit_tag("Active Session History",
                               url_for(:update_area => @update_area,
                                       :controller  => :active_session_history,
                                       :action      => :show_prepared_active_session_history,
                                       :instance    => @sql.inst_id,
                                       :sql_id      => @sql.sql_id
                               ),
                               :title => t(:list_sql_detail_sql_id_childno_active_session_history_title, :default=>"Show active session history data for SQL-ID")
            )
        %>
</div>
<div class="float_left">
    <%=
        my_ajax_submit_tag("Open Cursor (#{@open_cursors})",
            url_for(:action     => :list_open_cursor_per_sql,
                    :instance   => @instance,
                    :sql_id     => @sql_id,
                    :update_area=> @update_area
                  ),
           :title=>t(:dba_sga_list_sql_sga_stat_footer_open_cursor_hint, :default=>'Show current open cursor of SQL in sessions'))
    %>
</div>

<% if @sql['child_number'] %>
    <div class="float_left">
      <%=
          my_ajax_submit_tag('DBMS_XPLAN',
                             url_for(:action        => :list_dbms_xplan_display,
                                     :instance      => @instance,
                                     :sql_id        => @sql_id,
                                     :child_number  => @sql.child_number,
                                     :child_address => @sql.child_address,
                                     :update_area=> @update_area
                             ),
                             :title=>t(:dba_sga_list_sql_sga_stat_footer_dbms_xplan_hint, :default=>'Show execution plan as output from call DBMS_XPLAN.DISPLAY'))
      %>
    </div>
<% end %>

<div class="float_left">
  <%=
    my_ajax_submit_tag("SQL-Monitor (#{@sql_monitor_sessions})",
                       url_for(:action          => :list_sql_monitor_sessions,
                               :instance        => @instance,
                               :sql_id          => @sql_id,
                               :plan_hash_value => (@sql.plan_hash_value_count == 1 ? @sql.plan_hash_value : nil),
                               :update_area=> @update_area
                       ),
                       #:disabled => (@sql_monitor_sessions == 0),
                       :title    => strings(:sql_monitor_link_title)
    )
  %>
</div>

<div  style="clear: both;"></div>
