<% @update_area = get_unique_area_id %>

<% @modus = "GV$SQLArea" # Ab jetzt Summen-Info anzeigen%>
<%= render :partial=>"list_sql_sga_stat" %>

<%= render :partial=>"dba_sga/list_sql_profiles" %>

<% if @plans %>
<%= render :partial=>"dba_sga/list_sql_detail_execution_plan" %>
<% else %>
<div>Multiple different execution plans exist for this SQL! Please use SQL child view for exact execution plan of every child cursor.</div>
<% end %>

<% @modus = "GV$SQLArea" # Ab jetzt wieder Summen-Info anzeigen%>
<%= render :partial=>"list_sql_sga_stat_footer" %>

<% @modus = "GV$SQL" # Ab jetzt Child-Info anzeigen%>
<%= render :partial=>"list_sql_area" %>

<div style="clear: both;" id="<%= @update_area_list_sql_detail_sql_id %>"></div>

