<div class="page_caption" style="margin-bottom: 10px;">Ermitteln des Objectes für einzelnen DB-Block</div>

<% @update_area = get_unique_area_id %>
<%= my_ajax_form_tag url_for(:controller=>:dba_sga, :action=>:list_object_nach_file_und_block, :update_area=>@update_area) do %>
  File-Number
  <%= text_field_tag(:fileno, "", :size=>40) %>
  Block-Number
  <%= text_field_tag(:blockno, "", :size=>40) %>
  <%= submit_tag("Name des Objektes suchen", :title => "Name des Objektes suchen") %>
<% end %>

<div id="<%= @update_area %>" >
</div>
