<% @update_area = get_unique_area_id %>

<%= render_page_caption("#{ t(:dba_sga_show_sql_area_caption, :default=>'Resource-intensive SQL statements from')} #{@source_table}") %>

<%= ajax_form(:controller=>:dba_sga, :action=>@action, :update_area=>@update_area) do %>
  <div class="flex-row-container">
    <div class="flex-row-element" title="<%= t(:dba_sga_show_sql_area_max_result_count_hint, :default=>'Restrict result size to number of lines (after sort)')%>">
      <%= t(:dba_sga_show_sql_area_max_result_count_caption, :default=>'Hit limit') %>
      <%= text_field_tag(:maxResultCount, "100", :size=>5) %>
    </div>

    <div class="flex-row-element" title="<%= t(:dba_sga_show_sql_area_filter_hint, :default=>'Filter string must be found in considered SQL statement. Wildcards (%,_) can be used in filter. (optional)') %>">
      Filter
      <%= text_field_tag(:filter, (@filter if defined? @filter), :size=>50) %>
    </div>

    <%= instance_tag(rac_only: true) %>

    <div class="flex-row-element" title="<%= t(:dba_sga_show_sql_area_user_hint, :default=>'Filter result on username at cursor creation') %>">
      User
      <%= text_field_tag(:username, "", :size=>15) %>
    </div>

    <div class="flex-row-element" title="<%= t(:sqlid_optional_filter_hint, :default=>'Filter on specific SQL-ID (optional, wildcards (%,_) can be used)') %>">
      SQL-ID
      <%= text_field_tag(:sql_id, "", :size=>14) %>
    </div>

    <div class="flex-row-element" title="<%= t(:dba_history_show_sql_area_historic_sorted_by_hint, :default=>'Result sorted in ascending order by this criteria') %>">
      <%= t(:sorted_by, :default=>'Sorted by') %>
      <select name="topSort">
        <% sql_area_sort_criteria(@source_table).each do |key, value| %>
          <%= "<option value=\"#{key}\"#{" selected" if key == :ElapsedTimeTotal}>#{value[:title]}</option>".html_safe %>
        <% end %>
      </select>
    </div>

    <div class="flex-row-element" title="<%= t(:dba_history_show_sql_area_historic_include_plsql_hint, :default=>'Include also PL/SQL executions')%>">
      PL/SQL
      <%= check_box_tag(:include_plsql, 1, true) %>
    </div>

    <div class="flex-row-element">
      <%= submit_tag(t(:dba_sga_show_sql_area_submit_caption, :default=>'Show SQL'), :title => t(:dba_sga_show_sql_area_submit_hint, :default=>'Show SQL statements according to filter conditions')) %>
    </div>
  </div>
<% end %>
<div id="<%= @update_area %>" style="float:left; width:100%;">


</div>
