<% @update_area = :list_db_cache_advice_historic_detail_area %>
<%= my_ajax_form_tag url_for(:controller=>:dba_sga, :action=>:list_db_cache_advice_historic, :update_area=>@update_area)  do %>
    <div class="float_left">
      <b>Historic DB-cache advice from DBA_Hist_DB_Cache_Advice</b>
    </div>
    <%= include_start_end_timepicker %>
    <div class="float_left">
      Instance
      <%= text_field_tag(:instance, session[:instance], :size=>1, :title=>"Einschränkung auf RAC-Instance (optional)") %>
    </div>
    <div class="float_left">
      <%= submit_tag("Show", :title => "Show historic DB-cache advices") %>
    </div>
<% end %>
<div id=<%= @update_area %> style="clear:both"></div>
