<div class="page_caption">Historische Segment-Statistik aus DBA_Hist_Seg_Stat</div>


<%= my_ajax_form_tag url_for(:controller => :dba_history, :action => :list_segment_stat_historic_sum, :update_area => :list_segment_stat_hist_sum_area) do %>

  <%= include_start_end_timepicker %>

  <div class="float_left">
    Instance
    <%= text_field_tag(:instance, (read_from_client_info_store(:instance) ? read_from_client_info_store(:instance) : ""), :size=>1, :title=>"ID der betrachteten RAC-Instanz (optional)") %>
  </div>
  <div class="float_left">
    Part.
    <%= check_box_tag(:show_partitions, 1, false, :title=>"Partitionsdetails anzeigen") %>
  </div>
  <div class="float_left">
    Objekt-Name
    <%= text_field_tag(:ObjectName, "", :size=>30, :title=>"Optionaler Filter auf Objekt-Name (LIKE-Vergleich)") %>
  </div>
  <div class="float_left">
  <%= submit_tag "Daten anzeigen", :title => "Anlistung der Daten" %>
  </div>
<% end %>
<div id="list_segment_stat_hist_sum_area" style="float:left; width:100%; ">
</div>
