<div class="page_caption">Enqueue-Statistics from DBA_Hist_Enqueue_Stat</div>

<%= my_ajax_form_tag url_for(:controller => :dba_history, :action => :list_enqueue_statistics_historic, :update_area => :list_enqueue_statistics_historic_area) do %>

  <%= include_start_end_timepicker %>

  <div class="float_left" title="<%= t(:instance_optional_filter_hint, :default=>'Filter on specific RAC instance (optional)') %>">
    Instance
    <%= text_field_tag(:instance, "", :size=>1) %>
  </div>
  <div class="float_left">
    <%= submit_tag("Show Enqueue-Info", :title => "Show Enqueue-Info") %>
  </div>
<% end %>
<div id="list_enqueue_statistics_historic_area" style="float:left; width:100%; ">
</div>

