<div class="page_caption">Historie der System-Events aus DBA_Hist_System_Event
  <a target="_blank" href="https://docs.oracle.com/cloud/latest/db121/REFRN/waitevents003.htm">(Oracle-Doku)</a></div>

<%= my_ajax_form_tag url_for(:controller => :dba_history, :action => :list_system_events_historic, :update_area => :list_system_events_historic_area) do %>

  <%= include_start_end_timepicker %>

  <div class="float_left">
    Underdrücken Idle-Waits
    <%= check_box_tag(:suppress_idle_waits, 1, true, :title=>"Wait-Class Idle unterdrücken") %>
  </div>
  <div class="float_left">
    RAC-Instance
    <%= text_field_tag(:instance, read_from_client_info_store(:instance), :size=>3, :title => "RAC-Instance") %>
  </div>
  <div class="float_left">
    <%= submit_tag("System-Events anzeigen", :title => "System-Events anzeigen") %>
  </div>
<% end %>
<div id="list_system_events_historic_area" style="float:left; width:100%;">
</div>
