<% @update_area = get_unique_area_id %>

<div class="page_caption"><%= t(:dba_show_locks_caption, :default=>'List current locks of different types')%></div>
<div>
<%= my_ajax_form_tag url_for(:controller => :dba, :action=>"list_dml_locks", :update_area => @update_area) do %>
  <div class="float_left" title="<%= t(:dba_show_locks_all_locks_hint, :default=>"Show all locks? Otherwise AE- and PS-Locks are suppressed") %>">
    <%= t :dba_show_locks_all_locks_caption, :default=>"All Locks?" %> <%= check_box_tag(:show_all_locks, 1, false) %>
  </div>
  <div class="float_left" title="<%= t(:dba_show_locks_max_result_size_hint, :default=>"Limit max. no. of rows for result") %>">
    <%= t :dba_show_locks_max_result_size_caption, :default=>"max. to show" %>
    <%= text_field_tag(:max_result_size, "1000", :size=>8) %>
  </div>

  <div class="float_left"> 
  <%= submit_tag(t(:dba_show_locks_submit_dml_caption, :default=>"DML-locks complete"), :title =>t(:dba_show_locks_submit_dml_hint, :default=>"show all DML-locks (Data Manipulation)") ) %>
  </div>
<% end  %>
  <div class="float_left">
    <%= my_ajax_form_tag url_for(:controller => :dba, :action=>"list_blocking_dml_locks", :update_area => @update_area) do %>
      <%= submit_tag "Blocking DML-Locks", :title =>t(:dba_show_locks_submit_blocking_hint, :default=>"show blocking DML-locks (data manipulation locks)") %>
    <% end %>
  </div>
  <div class="float_left">
    <%= my_ajax_form_tag url_for(:controller => :dba, :action=>"list_ddl_locks", :update_area => @update_area) do %>
      <%= submit_tag "Blocking DDL-Locks", :title =>t(:dba_show_locks_submit_ddl_hint, :default=>"show blocking DDL-locks (data definition locks)") %>
    <% end %>
  </div>
  
</div>

<div id="<%= @update_area %>" style="float:left; width:100%;">
</div>
