<%= render_page_caption(t(:dba_show_sessions_caption, :default=>"Show sessions")) %>

<% @update_area = get_unique_area_id %>

<%= ajax_form(:controller => :dba, :action => "list_sessions", :update_area=>@update_area) do  %>
  <div class="flex-row-container">
    <div class="flex-row-element" title="<%= t(:dba_show_sessions_only_active_hint, :default=>"Show active sessions only") %>">
      <%= t(:dba_show_sessions_only_active_caption, :default=>"Active only") %>
      <%= check_box_tag(:onlyActive, 1, true, onchange: "if (this.checked) { $('#showTimer').prop('disabled', false ); } else { $('#showTimer').prop('disabled', true ); }") %>
    </div>
    <div class="flex-row-element" title="<%= t(:dba_show_sessions_pq_hint, :default=>"Show sessions of parallel query slaves") %>">
      Parallel Query
      <%= check_box_tag(:showPQServer, 1, false) %>
    </div>
    <div class="flex-row-element" title="<%= t(:dba_show_sessions_only_user_hint, :default=>"Show foreground sessions only (suppress listing of Oracle server's background sessions)") %>">
      <%= t(:dba_show_sessions_only_user_caption, :default=>"User only") %>
      <%= check_box_tag(:showOnlyUser, 1, true) %>
    </div>
    <div class="flex-row-element" title="<%= t(:dba_show_sessions_only_db_link_hint, :default=>"Show sessions connected via db link only") %>">
      <%= t(:dba_show_sessions_only_db_link_caption, :default=>"DB links only") %>
      <%= check_box_tag(:showOnlyDbLink, 1, false) %>
    </div>
    <div class="flex-row-element" title="If limited to active sessions than show also sessions that are suspended by timer (DBMS_LOCK.Sleep or DBMS_SESSION.Sleep)">
      Timer
      <%= check_box_tag(:showTimer, 1, false) %>
    </div>
    <%= instance_tag(rac_only: true) %>
    <div class="flex-row-element" title="">
      Filter
      <%= text_field_tag(:filter, "", :size=>12, :title=>t(:dba_show_sessions_filter_hint, :default=>"Optional like-filter for client/shadow-process on: session-ID, process-ID, username, SQL ID, client info, client-ID, module, action, machine, program")) %>
    </div>
    <div class="flex-row-element">
      <%= submit_tag(t(:dba_show_sessions_submit_caption, :default=>"Show sessions"), :title => t(:dba_show_sessions_submit_hint, :default=>"Show sessions according to given filters")) %>
    </div>
  </div>
<% end %>
<div id="<%= @update_area %>"></div>


