<% @update_area = get_unique_area_id %>

<div class="page_caption">Show content of server logs (selects data only for your login instance = <%= @instance %>) </div>


<%= my_ajax_form_tag url_for(:controller => :dba, :action => :list_server_logs, :update_area => @update_area) do %>
    <%= include_start_end_timepicker %>

    <!--
    Nicht sinnvoll so lange Daten nur von aktueller Instance gezogen werden
    <div class="float_left" title="<%= t(:instance_optional_filter_hint, :default=>'Filter on specific RAC instance (optional)') %>">
      Instance
      <%= text_field_tag(:instance, read_from_client_info_store(:instance), :size=>1) %>
    </div>
    -->

    <div class="float_left" title="Select type of log to consider">
      Type
      <select name="log_type">
        <option value='all'><%= t(:all, :default=>'All') %></option>
        <option value='rdbms' selected='selected'>Alert-Log</option>
        <option value='tnslsnr'>Listener-log</option>
        <option value='asm'>ASM-Log</option>
      </select>
    </div>

    <div class="float_left" title="Show only records with matching hits at message text.\nDelimit several OR-combined inclusion expressions by '|'.">
      Incl. Filter
      <%= text_field_tag(:incl_filter, "", :size=>30) %>
    </div>

    <div class="float_left" title="Show only records without matching hits at message text.\nDelimit several OR-combined exclusion expressions by '|'.">
      Excl. Filter
      <%= text_field_tag(:excl_filter, "", :size=>30) %>
    </div>

    <div class="float_left" title="Suppress info about successful log switch messages">
      Suppress default messages
      <%= check_box_tag(:suppress_defaults, 1, false) %>
    </div>

    <div class="float_left">
      <%= submit_tag("Show", :title => 'Show content of server-side log in period') %>
    </div>
<% end %>

<div id="<%= @update_area %>" style="clear:both;">
</div>
