<% @update_area = get_unique_area_id %>

<%
column_options =
  [
    {:caption=> 'Created',          :data=>proc{|rec| localeDateTime(rec.created)},          :title=> 'Timestamp of object creation'},
    {:caption=> 'Last DDL',         :data=>proc{|rec| localeDateTime(rec.last_ddl_time)},    :title=> 'Timestamp of last DDL operation on object'},
    {:caption=> 'Status',           :data=>proc{|rec| rec.status},                           :title=> 'Status of object in DBA_Objects'},
]

%>

<%= gen_slickgrid(@attribs, column_options, {:caption => "Description of #{@object_type} #{@owner}.#{@object_name}", :height => :auto}) %>


<div id="<%= @update_area %>_spec">
  <%=  my_html_escape(@view.text).html_safe %>
</div>

<script type="text/javascript">
  render_yellow_pre("<%= @update_area %>_spec", 450);
</script>


<div class="float_left">
  <%= my_ajax_submit_tag("#{@dependencies} Dependencies",
                         url_for(:update_area  => @update_area,
                                 :action       => :list_dependencies,
                                 :owner        => @owner,
                                 :object_name  => @object_name,
                                 :object_type  => @object_type
                         ),
                         :title => "Show object dependencies for #{@object_type} #{@owner}.#{@table_name}")
  %>
</div>
<div class="float_left">
  <%= my_ajax_submit_tag("#{@grants} Grants",
                         url_for(:update_area => @update_area,
                                 :action      => :list_grants,
                                 :owner       => @owner,
                                 :object_name => @object_name
                         ),
                         :title => "Show grants for #{@object_type} #{@owner}.#{@object_name}")
  %>
</div>

<div id="<%= @update_area %>" style="clear:both;"></div>
