<% @update_area = get_unique_area_id %>

<%
  column_options =
    [
      {:caption=> 'Created',          :data=>proc{|rec| localeDateTime(rec.created)},          :title=> 'Timestamp of object creation'},
      {:caption=> 'Last DDL',         :data=>proc{|rec| localeDateTime(rec.last_ddl_time)},    :title=> 'Timestamp of last DDL operation on object'},
      { caption: 'Spec. TS',          data: proc{|rec| localeDateTime(rec.spec_ts)},           title: "Timestamp for the last specification change of the object" },
      {:caption=> 'Status',           :data=>proc{|rec| rec.status},                           :title=> 'Status of object in DBA_Objects'},
      { caption: 'Opt. level',        data: proc{|rec| rec.plsql_optimize_level},             title: 'Optimization level that was used to compile the object'},
      { caption: 'Code type',         data: proc{|rec| rec.plsql_code_type},                  title: 'Compilation mode for the object'},
      { caption: 'Debug',             data: proc{|rec| rec.plsql_debug},                      title: 'Indicates whether the object was compiled with debug information or not'},
      { caption: 'Warnings',          data: proc{|rec| rec.plsql_warnings},                   title: 'Compiler warning settings that were used to compile the object'},
      { caption: 'NLS length sem.',   data: proc{|rec| rec.nls_length_semantics},             title: 'NLS length semantics that were used to compile the object'},
      { caption: 'CC flags',          data: proc{|rec| rec.plsql_ccflags},                    title: 'Conditional compilation flag settings that were used to compile the object'},
      { caption: 'PL scope settings', data: proc{|rec| rec.plscope_settings},                 title: 'Settings for using PL/Scope'},
    ]
  column_options << { caption: 'Org. con-ID', data: proc{|rec| rec.origin_con_id},            title: "The ID of the container where the data originates. Possible values include:\n0: This value is used for rows in non-CDBs. This value is not used for CDBs.\nn: This value is used for rows containing data that originate in the container with container ID n (n = 1 if the row originates in root)"} if get_db_version >= '12.1'
  column_options << { caption: 'Aggregate',   data: proc{|rec| rec.aggregate},                title: "Indicates whether the procedure is an aggregate function (YES) or not (NO)"} if @object_type == 'FUNCTION'
  column_options << { caption: 'Pipelined',   data: proc{|rec| rec.pipelined},                title: "Indicates whether the procedure is a pipelined table function (YES) or not (NO)"} if @object_type == 'FUNCTION'
  column_options << { caption: 'Impl. type',  data: proc{|rec| link_object_description(@update_area, rec.impltypeowner, rec.impltypename)}, title: "Owner and name of the implementation type, if any"} if @object_type == 'FUNCTION'
  column_options << { caption: 'Parallel enabled',  data: proc{|rec| rec.parallel},           title: "Indicates whether the procedure or function is parallel-enabled (YES) or not (NO)"} if @object_type == 'FUNCTION'
  column_options << { caption: 'Interface',   data: proc{|rec| rec.interface},                title: "YES, if the procedure/function is a table function implemented using the ODCI interface; otherwise NO"} if @object_type == 'FUNCTION'
  column_options << { caption: 'Determ.',     data: proc{|rec| rec.deterministic},            title: "YES, if the procedure/function is declared to be deterministic; otherwise NO"} if @object_type == 'FUNCTION'
  column_options << { caption: 'Auth. ID',    data: proc{|rec| rec.authid},                   title: "Indicates whether the procedure/function is declared to execute as DEFINER or CURRENT_USER (invoker)"}
  column_options << { caption: 'Result cache',data: proc{|rec| rec.result_cache},             title: "Indicates whether the function is result–cached (YES) or not (NO)"} if get_db_version >= '12.1' && @object_type == 'FUNCTION'
%>

<%= gen_slickgrid(@attribs, column_options, {:caption => "Description of #{@object_type} #{@owner}.#{@object_name}", :height => :auto}) %>

<%=  render_code_mirror(@source, cm_options: { lineNumbers: true}) %>

<div class="flex-row-container">
  <% if @object_type == 'PACKAGE' %>
    <div class="flex-row-element">
      <%= ajax_submit("Package Body", {
          :update_area  => @update_area,
          :action       => :list_plsql_description,
          :owner        => @owner,
          :object_name  => @object_name,
          :object_type  => 'PACKAGE BODY'
      }, :title => "Show description of package body for #{@owner}.#{@table_name}")
      %>
    </div>
  <% end %>

  <% if @object_type == 'PACKAGE BODY' %>
    <div class="flex-row-element">
      <%= ajax_submit("Package", {
          :update_area  => @update_area,
          :action       => :list_plsql_description,
          :owner        => @owner,
          :object_name  => @object_name,
          :object_type  => 'PACKAGE'
      }, :title => "Show description of package spec for #{@owner}.#{@table_name}")
      %>
    </div>
  <% end %>

  <% if @method_count > 0 %>
    <div class="flex-row-element">
      <%= ajax_submit("#{@method_count } Methods", {
        :update_area  => @update_area,
        :action       => :list_plsql_description_methods,
        :owner        => @owner,
        :object_name  => @object_name,
        :object_type  => @object_type
      }, :title => "Show description of public  methods (procedures, functions, ...) for #{@owner}.#{@table_name}")
      %>
    </div>
  <% end %>

  <% if @arg_count > 0 %>
    <div class="flex-row-element">
      <%= ajax_submit("#{@arg_count } Arguments", {
        :update_area    => @update_area,
        :action         => :list_plsql_arguments,
        :owner          => @owner,
        :object_name    => @object_name,
        :procedure_name => nil,
        subprogram_id: 1
      }, :title => "Show arguments and return value for #{@owner}.#{@table_name}")
      %>
    </div>
  <% end %>

  <div class="flex-row-element">
    <%= ajax_submit("#{@dependencies} Dependencies", {
        :update_area  => @update_area,
        :action       => :list_dependencies,
        :owner        => @owner,
        :object_name  => @object_name,
        :object_type  => @object_type
    }, :title => "Show object dependencies for #{@object_type} #{@owner}.#{@table_name}")
    %>
  </div>
  <div class="flex-row-element">
    <%= ajax_submit("#{@grants} Grants", {
        :update_area => @update_area,
        :action      => :list_grants,
        :owner       => @owner,
        :object_name => @object_name
    }, :title => "Show grants for #{@object_type} #{@owner}.#{@object_name}")
    %>
  </div>
  <div class="flex-row-element">
    <%= ajax_submit("Settings", {
      :update_area  => @update_area,
      :action       => :list_stored_settings,
      :owner        => @owner,
      :object_name  => @object_name,
      :object_type  => @object_type
    }, :title => "Show stored settings for trigger #{@owner}.#{@object_name}")
    %>
  </div>
  <div class="flex-row-element">
    <%= ajax_submit("Sessions accessing", {
        :update_area   => @update_area,
        :controller    => :dba,
        :action        => :list_sessions,
        :object_owner  => @owner,
        :object_name   => @object_name,
        :object_type   => @object_type
    }, :title => "Sessions accessing #{@object_type} #{@owner}.#{@object_name} in library cache (from GV$Access)")
    %>
  </div>

  <div class="flex-row-element">
    <%= ajax_submit("Using/calling SQLs in SGA", {
      :update_area   => @update_area,
      :controller    => :dba_sga,
      :action        => :show_sql_area_sql_id,
      :filter        => "#{@owner}.#{@object_name}",
    }, :title => "Look for SQL statements with '#{@owner}.#{@object_name}' in their SQL text in current SGA")
    %>
  </div>

  <div class="flex-row-element">
    <%= ajax_submit("Using/calling SQLs in AWR", {
      :update_area   => @update_area,
      :controller    => :dba_history,
      :action        => :show_sql_area_historic,
      :filter        => "#{@owner}.#{@object_name}",
    }, :title => "Look for SQL statements with '#{@owner}.#{@object_name}' in their SQL text in AWR history")
    %>
  </div>

</div>


<div id="<%= @update_area %>"></div>
