<%= render_page_caption("Show users within gradual password rollover interval. From DBA_Users and Unified_Audit_Trail") %>

<% @update_area = get_unique_area_id %>
<%= ajax_form(:controller=>:dba_schema, :action=>:list_gradual_password_rollover, :update_area=>@update_area) do %>
  <div class="flex-row-container">
    <div class="flex-row-element" title="The number of days in the past to look for logon records with old password.">
      Days to look back for old password use
      <%=  number_field_tag('days_back', value = 7) %>
    </div>
    <div class="flex-row-element">
      <%= submit_tag("Show users", :title => "Show users within gradual password rollover interval") %>
    </div>
  </div>
<% end %>

<div id="<%= @update_area %>" ></div>
