<% @update_area = get_unique_area_id %>
<div class="page_caption">Übersicht über Tablespace-Objekte</div>

<div>
  <%= my_ajax_form_tag url_for(:controller => :dba_schema, :action => :list_objects, :update_area=>@update_area) do
  %>
  <div class="float_left">
    Tablespaces<br/>
    <%= collection_select(:tablespace, :name, @tablespaces, :name, :name) %>
  </div>
  <div class="float_left">
    Schemata<br/>
    <%= collection_select(:schema, :name, @schemas, :name, :name) %>
  </div>
  <div class="float_left" title="<%= t(:dba_schema_show_object_partition_hint, :default=>'Show single partitions?') %>">
    Part.<br/>
    <%= check_box_tag(:showPartitions, 1, false) %>
  </div>
  <div class="float_left" title="<%= t(:dba_schema_show_object_filter_hint, :default=>'Object name must contain filter string (if used)') %>">
    Filter<br>
    <%= text_field_tag(:filter, "", :size=>20) %>
  </div>
  <div class="float_left">
    <br/>
    <%= submit_tag(t(:dba_schema_show_object_submit_caption, :default=>'Show objects and sizes'), :title => t(:dba_schema_show_object_submit_hint, :default=>'Show objects with sizes and parameters')) %>
  <% end # form %>
  </div>
</div>


<div id="<%= @update_area %>" style="float:left; width:100%;">
</div>

