<div class="page_caption">Global cache request latency from GV$SysStat:
  <% @totals.each do |t| %>
      <%= "Instance #{t.inst_id}: #{formattedNumber(t.avg_receive_time_ms,2)} ms  " %>
  <% end %></div>

<%= my_ajax_form_tag "dba_waits/list_gc_request_latency_history" do %>
  <%= include_start_end_timepicker %>
  <div class="float_left">
    RAC-Instance
    <%= text_field_tag(:instance, read_from_client_info_store(:instance), :size=>3, :title => "RAC-Instance") %>
  </div>
  <div class="float_left">
    <%= submit_tag(t(:show, :default=>'Show'), :title => t(:dba_waits_show_gc_request_latency_show_hint, :default=>'Show request latency of single AWR-snapshots')) %>
  </div>
<% end %>
<div id="list_gc_request_latency_area" style="float:left; width:100%; ">
</div>
