<%= my_ajax_form_tag "dba_history/list_compare_sql_area_historic" do %>
  <div class="float_left">
    <b>Vergleich der Laufzeiten von Statements zweier Tage aus DBA_Hist_SQLStat</b>
  </div>
  <div class="float_left">
    <%= label_tag(:minProzDiff, "Laufzeitdiff >", :title => "Laufzeitz am Tag 2 mindestens x % größer") %>
    <%= text_field_tag(:minProzDiff, "50", :size=>2, :title => "Laufzeitz am Tag 2 mindestens x % größer") %>
    %
  </div>
  <div class="float_left">
    Tag 1
    <%= text_field_tag(:tag1, localeDateTime(Date.today, :days), :size=>8, :title => "Erster Tag des Vergleiches im Format '#{human_datetime_day_mask}'") %>
  </div>
  <div class="float_left">
    Tag 2
    <%= text_field_tag(:tag2, localeDateTime(Date.today, :days), :size=>8, :title => "Zweiter Tag des Vergleiches im Format '#{human_datetime_day_mask}'") %>
  </div>
  <div class="float_left">
    Filter
    <%= text_field_tag(:filter, "", :size=>20, :title=>"Filter-string muss in betrachteten SQL-Statements enthalten sein (wenn belegt)") %>
  </div>
  <div class="float_left">
    Instance
    <%= text_field_tag(:instance, session[:instance], :size=>1, :title=>"Einschränkung auf RAC-Instance (optional)") %>
  </div>
  <div class="float_left">
    SQL-ID
    <%= text_field_tag(:sql_id, "", :size=>12, :title=>"Einschränkung auf SQL-ID (optional)") %>
  </div>
  <div class="float_left">
  <%= submit_tag("SQL anzeigen", :title => "Anlistung der SQL-Statements") %>
  </div>
<% end %>

<div id="compare_sql_area_historic_area" style="float:left; width:100%;">
</div>
