<%= render_page_caption("Historic operation system statistics from #{PanoramaConnection.adjust_table_name('DBA_Hist_OSStat')}") %>

<% @update_area = get_unique_area_id %>

<%= ajax_form(controller: :dba_history, action: :list_os_statistics_historic, update_area: @update_area) do %>
  <div class="flex-row-container">
    <%= include_start_end_timepicker %>
    <%= instance_tag(rac_only: true) %>
    <%= dbid_selection %>
    <div class="flex-row-element">
      <%= submit_tag('Show OS statistics', title: 'Show OS statistics for given parameters') %>
    </div>
  </div>
<% end %>

<div id="<%= @update_area%>"></div>

