<h3>Historie der System-Events aus DBA_Hist_System_Event
  <a target="_blank" href="http://download.oracle.com/docs/cd/B28359_01/server.111/b28320/waitevents003.htm#insertedID112">(Oracle-Doku)</a>
</h3>

<%= my_ajax_form_tag "dba_history/list_system_events_historic" do %>

  <%= include_start_end_timepicker %>

  <div class="float_left">
    Underdrücken Idle-Waits
    <%= check_box_tag(:suppress_idle_waits, 1, true, :title=>"Wait-Class Idle unterdrücken") %>
  </div>
  <div class="float_left">
    RAC-Instance
    <%= text_field_tag(:instance, session[:instance], :size=>3, :title => "RAC-Instance") %>
  </div>
  <div class="float_left">
    <%= submit_tag("System-Events anzeigen", :title => "System-Events anzeigen") %>
  </div>
<% end %>
<div id="list_system_events_historic_area" style="float:left; width:100%;">
</div>
