<%= render_page_caption("Look for SQL-statements using (referencing) this object in history (from #{PanoramaConnection.adjust_table_name('DBA_Hist_SQL_Plan')})") %>

<% @update_area = get_unique_area_id %>

<%= ajax_form(:controller => :dba_history, :action => :show_using_sqls_historic, :update_area => @update_area)  do %>
  <div class="flex-row-container">
    <%= include_start_end_timepicker %>

    <div class="flex-row-element">
      Objekt-Owner
      <%= text_field_tag(:ObjectOwner, "", :size=>40, :title=>"Schema-name of object (optional)") %>
    </div>
    <div class="flex-row-element">
      Objekt-Name
      <%= text_field_tag(:ObjectName, "", :size=>40, :title=>"Name of object (optional with '%' as wildcard)") %>
    </div>
    <div class="flex-row-element">
      <%= submit_tag("Show SQLs", :title => "Show SQLs using this object") %>
    </div>
  </div>
<% end %>

<div id="<%= @update_area %>"></div>
