<%= render_page_caption("Historic SQL-Monitor reports from DBA_HIST_Reports") %>

<% @update_area = get_unique_area_id %>

<%= ajax_form(:controller=>:dba_history, :action=>:list_sql_monitor_reports, :update_area=>@update_area) do %>
  <div class="flex-row-container">
    <%= include_start_end_timepicker %>
    <%= instance_tag(rac_only: true) %>
    <div class="flex-row-element">
      <%= submit_tag('Show SQL-Monitor reports', :title => 'Show SQL-Monitor reports according to filter conditions') %>
    </div>

  </div>
<% end %>

<div id="<%= @update_area %>"></div>
