<%= render_page_caption("#{t(:dba_history_show_system_statistics_historic_caption, :default=>'History of system statistics from')} #{PanoramaConnection.adjust_table_name('DBA_Hist_SysStat')} (<a href=\"http://docs.oracle.com/database/121/REFRN/GUID-2FBC1B7E-9123-41DD-8178-96176260A639.htm\" target=\"_blank\">#{t(:dba_history_show_system_statistics_historic_caption_link, :default=>'Click here for further details')}</a>)".html_safe) %>

<%= ajax_form(:controller=>:dba_history, :action=>:list_system_statistics_historic, :update_area=>:list_system_statistics_historic_area) do%>
  <div class="flex-row-container">
    <%= include_start_end_timepicker %>
    <%= instance_tag(rac_only: true) %>
    <div class="flex-row-element">
      <div title="Restrict result to statistic class">     <!-- special IE-Hack because of bug http://bugs.jqueryui.com/ticket/8798  -->
        Stat.-Class
        <%= collection_select(:stat_class, :bit, @statclasses, :bit, :name, {}) %>
      </div>
    </div>

    <div class="flex-row-container" style="border:1px solid gray; padding-left: 5px;">
      <div class="flex-row-element">
        <%= submit_tag(t(:dba_history_show_system_statistics_historic_sum_caption, :default=>'Sums of system statistics'), :title => t(:dba_history_show_system_statistics_historic_sum_hint, :default=>'Show sums per statistics name over whole time period'), :name=>"sum") %>
      </div>
    </div>
    &nbsp;
    <div class="flex-row-container" style="border:1px solid gray; padding-left: 5px;">
      <div class="flex-row-element" title="<%= t(:dba_history_show_system_statistics_historic_grouping_hint, :default=>'Group values by time slice (smallest cycle is AWR-snapshot)') %>">
        <%= t(:dba_history_show_system_statistics_historic_grouping_caption, :default=>'Grouping') %>
        <%= select :verdichtung, :tag, [['Minute', 'MI'], [t(:hour, :default=>'Hour'), 'HH24'], [t(:day, :default=>'Day'), 'DD'] ], {:selected=>'MI'} %>
      </div>
      <div class="flex-row-element">
        <%= submit_tag(t(:dba_history_show_system_statistics_historic_details_caption, :default=>'Details of system statistics'), :title => t(:dba_history_show_system_statistics_historic_details_hint, :default=>'Show pivot-table with all statistics per grouping time slice'), :name=>"full") %>
      </div>
    </div>

  </div>
<% end %>

<div id="list_system_statistics_historic_area" style="float:left; width:100%;">
</div>

