<h1>
  <%= @exception.class.to_s %>
  <% if @request.parameters['controller'] %>
      in <%= @request.parameters['controller'].camelize %>Controller<% if @request.parameters['action'] %>#<%= @request.parameters['action'] %><% end %>
  <% end %>
</h1>
<h2>Error at server (not local web browser)</h2><!-- Der vorgenannte String signalisiert dem Error-Dialog, die Response zu rendern und nicht als Text anzuzeigen -->

<pre><h3>
  <%= h @exception.message %>
</h3></pre>

<div>
  <input id="error_dialog_show_backtrace" value="Show stack trace" type="submit" style="margin-bottom: 5px; margin-top: 5px"
         onclick="
            jQuery('#error_dialog_backtrace').css('display', 'inline').css('max_height', '300px').css('overflow', 'scroll');
            jQuery('#error_dialog_show_backtrace').css('display', 'none');
            jQuery('#error_dialog_hide_backtrace').css('display', 'inline');
         "
  />
  <input id="error_dialog_hide_backtrace" value="Hide stack trace" type="submit" style="display: none; margin-bottom: 5px; margin-top: 5px"
         onclick="
         jQuery('#error_dialog_backtrace').css('display', 'none');
                 jQuery('#error_dialog_show_backtrace').css('display', 'inline');
                 jQuery('#error_dialog_hide_backtrace').css('display', 'none');
         "
  />
</div>

<div id="error_dialog_backtrace" style="max-height: 300px; display: none; overflow: scroll; font-size: smaller">
  <% @exception.backtrace.each do |bt| %>
    <%= bt %><br/>
  <% end %>
</div>



