<html>
    <head>
      <%= stylesheet_link_tag 'application' %>
      <%=javascript_include_tag 'application' %>
      <title>Panorama : <%= @help_title if defined? @help_title %></title>
    </head>
    <body style="background-color: #ccccff;
                 color: #333;
                 font-family: sans-serif;
                 margin: 0;
                 padding:  15px;
                " data-no-turbolink="true">
        <div class="usage_help_head_block">
            <h2 style="margin: 10px; padding: 15px; color:white; ">
              <div>Panorama for Oracle: <%= @help_title if defined? @help_title %></div>
            </h2>
        </div>
    <%= yield %>
    </body>
</html>